h1{
    text-align: center;
    font-size: 500%;
    color: black;
}
p{

    font-size: 120%;
    font-weight:900;
    font-family: "Times New Roman", Times, serif;
    color: black;
}
body {
    background-image: url("Mac-Keyboard-Wallpaper-HD-172.jpg");

}

a{
    font-size: 120%;
    font-weight:900;
    font-family: "Times New Roman", Times, serif;
    color: white;
}